<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
<table border="2" align="center">
    <tr>
        <td>DISTRICT</td>
        <td><input type="text" name="district" id="dt" value="{{data.district_name}}">
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" value="submit">
        </td>
    </tr>
</table>
<br>
<table border="1" align="center">
    <tr>
        <td>Sl No</td>
        <td>DISTRICT_NAME</td>
        <td>ACTION</td>
    </tr>
    {%for i in ddata%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.district_name}}</td>
        <td><a href="{% url 'Admin:deldis' i.id %}">Delete</a>
            <a href="{% url 'Admin:editdis' i.id %}">Edit</a></td>
    </tr>
    {%endfor%}
</table>
    </form>
    </body>
    </html>
{%if msg%}
<script>
    alert("{{msg}}")
    window.location="{% url 'Admin:District' %}"
</script>
{%endif%}
